@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.calsi {
    width: 23vw;
    background-color: #272424f0;
    text-align: center;
    margin: 70px auto;
    padding: 12px;
    box-shadow: 0px 0px 6px 0px rgb(255, 0, 0);
    border-radius: 20px;
}

#inp {
    width: 100%;
    padding: 18px 0px;
    text-align: center;
    background-color: #D6E4E5;
    font-size: 1.6vw;
    font-family: Arial;
    font-weight: normal;
    color: #393E46;
    border-radius: 10px;
}

.btns {
    display: grid;
    grid-template-columns: repeat(4, 5.5vw);
    grid-template-rows: repeat(5, 5.1vw);
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 20px 0;
}

.btns button {
    width: 4vw;
    height: 4vw;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border: 1px solid grey;
    border-radius: 6px;
    cursor: pointer;
}

#btn-style {
    background-color: #adf3ff;
}

button#btn-style.equal {
    grid-column: 3/ span 2;
    width: 9vw;
    background-color: rgb(184, 249, 87);
}

@media (min-width:320px) and (max-width:424px) {
    .calsi {
        width: 82vw;
        margin: 52px auto;
    }

    #inp {
        font-size: 6.5vw;
    }

    .btns {
        grid-template-columns: repeat(4, 20vw);
        grid-template-rows: repeat(5, 22vw);
    }

    .btns button {
        width: 16vw;
        height: 16vw;
        font-size: 8vw;
    }

    button#btn-style.equal {
        grid-column: 3/ span 2;
        width: 36vw;
        background-color: rgb(184, 249, 87);
    }
}

@media (min-width:424px) and (max-width:1024px) {
    .calsi {
        width: 63vw;
        margin: 39px auto;
    }

    #inp {
        font-size: 4vw;
    }

    .btns {
        grid-template-columns: repeat(4, 15vw);
        grid-template-rows: repeat(5, 18vw);
    }

    .btns button {
        width: 10vw;
        height: 10vw;
        font-size: 5vw;
    }

    button#btn-style.equal {
        grid-column: 3/ span 2;
        width: 24vw;
        background-color: rgb(184, 249, 87);
    }
}

@media (max-width:1440px) and (min-width:1024px) {
    .calsi {
        width: 38vw;
    }

    #inp {
        font-size: 3vw;
    }

    .btns {
        grid-template-columns: repeat(4, 9.5vw);
        grid-template-rows: repeat(5, 9.5vw);
    }

    .btns button {
        width: 6vw;
        height: 6vw;
        font-size: 3vw;
    }

    button#btn-style.equal {
        grid-column: 3/ span 2;
        width: 15vw;
        background-color: rgb(184, 249, 87);
    }
}